.datepicker-date-display {
  background-color: $primary-color !important;
}

.datepicker-table {
  td {
    &.is-today {
      color: $primary-color !important;
    }

    &.is-selected {
      background-color: $primary-color !important;
      color: #fff !important;
    }
  }
}

.datepicker-cancel,
.datepicker-today,
.datepicker-done {
  color: $primary-color !important;
}

.month-prev:focus,
.month-next:focus {
  background-color: $primary-color !important;
}
