// Custom Variables

$primary-color: color('light-blue', 'darken-1') !default;

$input-focus-color: $primary-color !default;
$input-success-color: $primary-color !default;
$dropdown-color: $primary-color !default;
$radio-fill-color: $primary-color !default;
